/* Forms page */

body{
    
    background-color: rgb(116, 204, 105);
}

h1{
    text-align: center;
    color: blue;
    border: 2px solid rgb(0, 26, 255);
}

legend {
    font-size: 30px;
    text-align: left;
}

fieldset {
    text-align: center;
    width: 40%;
    min-width: 320px;
    margin: auto;
}

input[type="text"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: rgb(237, 237, 151);
    color: rgb(0, 0, 0);
    font-family: 'lato', sans-serif;
    font-size: 12px;
}

input[type="email"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: rgb(237, 237, 151);
    color: rgb(0, 0, 0);
    font-family: 'lato', sans-serif;
    font-size: 12px;
}

input[type="submit"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: rgb(108, 120, 196);
    color: rgb(0, 0, 0);
    font-family: 'lato', sans-serif;
    font-size: 12px;
}

input[type="reset"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: rgb(108, 120, 196);
    color: rgb(0, 0, 0);
    font-family: 'lato', sans-serif;
    font-size: 12px;
}

/* Navigation Bar (NavBar) */

#navbar{
    width: 100%;
    margin: auto;
    justify-content: space-between;
    display: inline-flex;
    word-spacing: 100px;
    border: 2px;
    border-color: black;
    border-style: solid;
    text-decoration: none;
}

span{
    display: inline-block;
    text-decoration: none;
    margin: 8px;
    font-weight: 600;
    font-size: 32px;
    font-family: 'lato', sans-serif;
    text-decoration: none;
}

a{
    text-decoration: none; 
    display: inline;
    align-items: center;
    color: black;
}

a:hover{
    background-color: green;
}
