/* Header */

body{
    background-color: rgb(116, 204, 105);
}

h1{
    text-align: center;
    color: blue;
    border: 2px solid rgb(0, 26, 255);
    width: 100%;
}

@media only screen and (max-width: 600px) {
    body{
      width: auto;
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    
    body{
      width: auto;
      font-size: 20px;
      }
    }

    @media only screen and (min-width: 992px){
        body{
            width: 98%;
            font-size: 15px;
        }

/* Game page */



/* Navigation Bar (NavBar) */

#navbar{
    width: 100%;
    margin: auto;
    justify-content: space-between;
    display: inline-flex;
    word-spacing: 100px;
    border: 2px;
    border-color: black;
    border-style: solid;
    text-decoration: none;
}

span{
    display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    padding: 4px;
    font-weight: 600;
    font-size: 32px;
    font-family: 'lato', sans-serif;
    text-decoration: none;
}

a{
    text-decoration: none; 
    display: inline;
    align-items: center;
    color: black;
}

a:hover{
    background-color: green;
}
